*{
    font-family: 'Ubuntu Mono', monospace;
  }
   
  body {
      background: linear-gradient(to bottom, #0a0a2a, #1a1a4a);
      width: 100vw;
      height: 100vh;
      box-sizing: border-box;
      margin: 0;
      overflow: hidden;
      display:grid;
      grid-template-rows: 10vh 1fr;
      grid-template-columns: 1fr;
      grid-template-areas:
        "header"
        "main";
      justify-content: center;
      align-items: center;
      justify-items: center;
  }
  
  #headerContainer{
    grid-area: header;
    background-image: url(images/starfall-night-sky-mountains-aesthetic-gif-cover-desktop-wallpaper.gif);

    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  h1{
    margin: 0px;
    color: white;
    text-shadow: 0 0 5px white;
    font-size: 50px;

  }
  
  canvas {
      /* width: 75vw; */
      /* height: 75vh; */
      border: 2px solid black;
      background: rgba(0, 0, 0, 0.2);
      border: 2px solid #d8c6ff;
      box-shadow: 0 0 15px #d8c6ff;
      align-self: center;
      justify-self: center;
      /* width: 600px; */
      /* height: 600px; */
  }
  
  #canvas {
    background-color: black;
    grid-area: main;
    
  }
  
  .lil-gui.autoPlace{
    top: 15vh;
    right: 5vw;
  }
  
  #backButton {
      margin: 10px;
  }
  
  #uiContainer {
    position: absolute;
    top: 15vh;
    right: 5vw;
    z-index: 3;
    font-family: monospace;
    pointer-events: none;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 1em;
    border: 1px solid turquoise;
  
    text-shadow:
     -1px -1px 0 #FFF,
      1px -1px 0 #FFF,
      -1px 1px 0 #FFF,
       1px 1px 0 #FFF;
  }
  #ui {
    opacity: 0.8;
  }
  #ui>div {
    pointer-events: none;
  }
  #ui input, #ui select, #ui option, #ui canvas {
    pointer-events: auto;
  }

  #gameContainer {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    position: relative;
    gap:15px;
  }

  #scoreLivesContainer {
    display: flex;
    flex-direction: column; /* Dispone los elementos en una columna */
    align-items: center;
    justify-content: center;
  }

  #score, #lives {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0 0 5px white;
  }

  #livesValue{
    margin: 0;
  }

  #looseValue , #winValue {
    color: red;
    font-size: 60px;
    font-weight: bold;
    text-shadow: 0 0 5px red;
    position: absolute;
    padding-left: 175px;
    padding-top: 60px;

  }

  